@page "/"

<h1>Piedra, Papel o Tijeras</h1>

<button>Reiniciar</button>

<div style="display:flex; justify-content:center; margin-bottom:20px;">
    <img src="papel.jpg" alt="Imagen" class="imagen" />
</div>

<div style="display: flex; justify-content:space-around;">
    <img src="papel.jpg" class="imagen imagen-seleccionable" />
    <img src="piedra.jpg" class="imagen imagen-seleccionable" />
    <img src="tijeras.jpg" class="imagen imagen-seleccionable" />
</div>